/**垂直居中 */
@mixin flex-align {
  display: flex;
  align-items: center;
}

/**文字产出部分显示... */
@mixin text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**文本缩进 */
@mixin text-indent($text-indent: 10px) {
  display: inline-block;
  text-indent: $text-indent;
}

/* 全局滚动条样式*/
@mixin scroll {

  /* 修改滚动条样式 */
  &::-webkit-scrollbar {
    /* width height分别对应竖向滚动条和横向滚动条 */
    width: 5px;
    height: 5px;
    background-color: #fff;
  }

  /* 修改滚动条中的小滑块 */
  &::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    background-color: rgb(147, 159, 194);
  }

  /* 定义滚动条的轨道 */
  &::-webkit-scrollbar-track {
    border: 1px solid #eee;
  }

  /* 定义轨道两端的按钮 */
  &::-webkit-scrollbar-button {
    background: #e0e0e0;
  }

  /*	给小滑块添加hover事件，鼠标悬浮在滑块上面的样式 */
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(191, 184, 187);
  }
}

//动画放大
@mixin enlarge ($scale: 1.1) {
  &:hover {
    transform: scale($scale);
  }
}

//禁止选中
@mixin selec-none {
  user-select: none
}


/**修改input框提示文字颜色 */
// @mixin form-item {
//   margin-top: 0.8rem;
//   background: #F1F1F1;
//   border-radius: 0.5rem;

//   ::v-deep .van-field--control {
//     font-size: 0.9rem;
//     font-weight: 500;
//     text-indent: 0.3rem;

//     &::-webkit-input-placeholder {
//       color: #888D9A;
//       font-size: 0.9rem;
//       font-weight: 500;
//     }
//   }
// }
/* 框线颜色 */
$border-color: rgba(119, 136, 153, 0.4);

#app {
  @include scroll;
}

.page {
  &-center {
    @include flex-align;
    justify-content: center;
  }
}

.container {
  &-shadow {
    box-shadow: 0 0 10px 3px #eee;
  }
}

.w100 {
  width: 100%;
}

.laosu {
  height: 100%;
  // background: #ADD8E6;

  &-header {
    @include flex-align;
    justify-content: space-between;
    position: relative;
    height: 60px;
    padding: 0 10px;
    box-shadow: 0 0 6px 0 #708090;
    background: #fff;
    z-index: 1;
    @include selec-none;
  }

  &-img {
    height: 60px;
    @include selec-none;
  }

  &-container {
    display: flex;
    flex: 1;
    height: calc(100% - 60px);
  }

  &-menu {
    width: 200px;
    border-right: 1px solid $border-color;
    @include selec-none;
  }

  &-content {
    width: calc(100% - 200px);
    height: 100%;
    background: #eee;
  }

  &-page {
    height: calc(100% - 76px);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
    @include scroll;
  }

  &-crumbs {
    @include flex-align;
    padding: 10px 5px 5px 5px;
    border-bottom: 1px solid #333;
    background: #fff;
    @include selec-none;


    &-item {
      @include enlarge;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &-theme {
    position: fixed;
    top: 120px;
    left: 0;
    padding: 10px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    box-shadow: 1px 0 5px 1px #333;
    background: #fff;
    z-index: 1000;
    cursor: move;
  }
}